



<app-hero></app-hero>



<div>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Constructora Avendaño</h1>
        <p class="lead fw-normal">¡Te ayudamos a construir lo que viste en tus sueños!</p>
      
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>


<style>

  @media  (min-width: 800px) {
    
    div.divWidth{
      width: 50%;
    }
  }
  @media  (max-width: 800px) {
    
    div.divWidth{
      width: 100%;
    }
  }

</style>




  
    <div class="d-md-flex  " >
      <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden divWidth divWidthBig" >
        <div class="my-3 py-3">
          <h2 class="display-5">Acerca de nosotros</h2>
          <p class="lead">Somos una empresa 100% de confianza</p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url('/assets/Images/imagen3.jpg'); background-size: cover;"></div>
      </div>

      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden divWidth divWidthBig" >
        <div class="my-3 p-3">
          <h2 class="display-5">¡Satisfacción!</h2>
          <p class="lead">Nuestros clientes nos respaldan</p>
        </div>
        <div class="shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url('/assets/Images/imagen2.jpg'); background-size: cover;"></div>
      </div>
    </div>
  


 
</div>