<footer class="container py-5">


  <style>

    @media  (min-width: 800px) {
      div.divBig{
        width: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;

      }
      
      div.divWidth{
        
        justify-content: space-between;
        flex-direction: column;
        
      }
    }
    @media  (max-width: 800px) {
      
      div.divWidth{
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
   
    
      }
    }
  
  </style>

    <div class="divBig" style="">

      <div class="col-12 col-md divWidth">
        <img src="/assets/Images/logo.jpg" alt="icono" style="width: 200px; height: 150px;">
        <small class="d-block mb-3 text-muted">© 2017–2022</small>
      </div>

      <div class="divWidth">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li>Telefono: 7731668836</li>
          <li>Email: constructora@avendaño.com</li>
          <li>Facebook: constuctora.av.facebook.com</li>
          <li>Ubicación: Calle Setos 101, Col. San Miguel, <br> Tula de Allende, Hgo.</li>
        </ul>
      </div>

    </div>
  
  </footer>