<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="height: 50vh;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>
    </div>
    <div class="carousel-inner" style="height: 100%;">

      <div class="carousel-item active" style="height: 100%; background-image: url(assets/Images/imagen.jpg); background-position: center; background-repeat: no-repeat;
      background-size: cover;" >
        <div class="container" >
          <div class="carousel-caption text-start">
            <h1>Constructora Avendaño</h1>
            <p>Te ayuda a crecer y mejorar</p>
          </div>
        </div>
      </div>

    
      <div class="carousel-item" style="height: 100%; background-image: url(assets/Images/imagen4.jpg); background-position: center;  background-repeat: no-repeat;
      background-size: cover;">
        <div>
          <div class="carousel-caption text-start" >
            <h1>¡Somos los mejores en lo que hacemos!</h1>
            <p><a class="btn btn-lg btn-primary" routerLink="/nosotros">Nosotros</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item" style="height: 100%; background-image: url(assets/Images/imagen5.jpg); background-position: center;  background-repeat: no-repeat;
      background-size: cover;">  
        <div class="container" style="height: 100%;">
          <div class="carousel-caption text-center">
            <h1>Administrador de proyectos.</h1>
            <p>Administra tus proyectos en la base de datos</p>
            <p><a class="btn btn-lg btn-primary" routerLink="/proyectos">llevame</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item" style="height: 100%; background-image: url(assets/Images/imagen6.jpg); background-position: center;  background-repeat: no-repeat;
      background-size: cover;">  
        <div class="container" style="height: 100%;">
          <div class="carousel-caption text-center">
            <h1>Administrador de empleados.</h1>
            <p>Administra tus empleados en la base de datos</p>
            <p><a class="btn btn-lg btn-primary" routerLink="/empleados">llevame</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>