<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
         <span class="fs-4">Constructora Avendaño</span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Nosotros</h1>
        <p class="col-md-8 fs-4">Somos una empresa 100% Hidalguense.<br> Fundada desde 2017 creando las mejores experiencias en cuanto a construcción para nuestros clientes, somos una empresa que se basa en el trabajo en equipo para entregar los mejores resultados</p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Misión</h2>
          <p>Nuestra mision:<br> Es lograr la satisfacción y aceptación total de nuestros clientes para conseguir un mercado mas amplio.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Visión:</h2>
          <p>Nuesta visión: <br> Ser la empresa constructora mas reconocida de la zona e implantarnos en mas estados de la republica.</p>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      © 2022
    </footer>
  </div>